/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

/* TABELAS */

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    
}

th {
    text-align: left;
    background-color: #e5e7eb;
    padding: 10px;
}

td {
    
    padding: 10px;
    border-bottom: 1px solid #e5e7eb;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

