/* LAYOUT PRINCIPAL */

.container {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */

.sidebar {
    width: 220px;
    background-color: #1e293b;
    color: white;
    padding: 20px;
}

.logo-container {
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #334155;
    padding-bottom: 10px;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    position: relative;
    transition: all 0.25s ease;
}

.logo:hover {
    color: #38bdf8;
    text-shadow: 0 0 8px rgba(42, 147, 192, 0.6);
}

.logo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #38bdf8;
    transition: width 0.3s ease;
}

.logo:hover::after {
    width: 100%;
}


.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 12px;
}

.menu-item {
    text-decoration: none;
    color: white;
    display: block;
    padding: 12px 10px;
    font-size: 18px;
    border-radius: 6px;
    transition: all 0.25s ease;
}

.menu-item:hover {
    background-color: #334155;
    padding-left: 16px;
}

.menu-item.ativo {
    background-color: #334155;
    padding-left: 16px;
    font-weight: 600;
}

.menu-toggle {
    display: none;
}

/* CONTEÚDO */

.content {
    flex: 1;
    padding: 30px;
}

.content h1 {
    margin-bottom: 30px;
    border-bottom: 1px solid #4e5257;
    padding-bottom: 10px;
}


/* cCELOLAR */
@media (max-width: 768px) {

.container {
    flex-direction: column;
}

.sidebar {
    width: 100%;
    padding: 10px;
}

.logo {
    font-size: 18px;
}

.logo::after {
    left: 50%;
    transform: translateX(-50%);
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.menu-toggle {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.menu-item {
    font-size: 16px;
    padding: 10px;
}

.menu-item:hover {
    padding-left: 10px;
}

.menu-item.ativo {
    padding-left: 10px;
}

.content {
    padding: 15px;
}

.content h1 {
    font-size: 20px;
}

.sidebar {
    border-bottom: 1px solid #334155;
}

.sidebar ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.sidebar.open ul {
    max-height: 500px;
}

.sidebar li {
    margin-bottom: 10px;
}

.menu-item {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #273449;
    transition: all 0.2s ease;
}

.menu-item:hover {
    background-color: #334155;
}

.menu-item.ativo {
    background-color: #38bdf8;
    color: #0f172a;
    font-weight: 600;
}

}