/* dashboard */

.grid-agenda {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap: 30px;
    align-items: start;
}

.agenda-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.agenda-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.titulo-agenda {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 90%;
    display: flex;
    align-items: center;
    gap: 8px;
}

#mes-ano {
    font-size: 14px;
    color: #666;
    font-weight: 500;
}

.btn-seta {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 6px;
    transition: all 0.3s ease;
    color: #444;
}

.btn-seta:hover {
    background-color: rgba(37, 99, 235, 0.08);
    color: #073fdb;
    cursor: pointer;
}

#calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    margin-top: 10px;
}

.dia {
    padding: 10px;
    background: #eee;
    text-align: center;
    border-radius: 8px; 
    transition: all 0.2s ease;
    cursor: default;
}

.dia:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.tem-viagem {
    background: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.tem-viagem:hover {
    background: #43a047;
    transform: translateY(-6px);
}

.titulo-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
}

.titulo-link:hover {
    color: #073fdb;
}

.thead-hover th {
    transition: background 0.3s ease;
}

.thead-hover:hover th {
    background: #d7dadd;
}

.tabela-dashboard {
    width: 100%;
    border-collapse: collapse;
}

.tabela-dashboard th {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #555;
}

.tabela-dashboard td {
    padding: 8px;
}

.linha-clicavel {
    transition: background 0.2s ease;
}

.linha-clicavel:hover {
    background: #f5f7fa;
}


.lista-viagens {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-viagem {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.item-viagem:hover {
    background: #f9f9f9;
    transform: translateY(-2px);
}

.status {
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 6px;
    background: #e3f2fd;
    color: #1565c0;
}

.status {
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: 500;
}

.status-Planejada {
    background: #e3f2fd;
    color: #1565c0;
}

.status-Em-andamento {
    background: #fff3e0;
    color: #ef6c00;
}

.status-Finalizada {
    background: #e8f5e9;
    color: #2e7d32;
}

.status-Cancelada {
    background: #ffebee;
    color: #c62828;
}

.status_viagens-Planejada {
    color: #1565c0;
}

.status_viagens-Em-andamento {
    color: #ef6c00;
}

.status_viagens-Finalizada {
    color: #2e7d32;
}

.status_viagens-Cancelada {
    color: #c62828;
}

.scroll-pequeno {
    max-height: 259px;
    overflow-y: auto;
    padding-right: 5px;
    margin-top: 5px;
}

.resumo-dashboard h2 {
    margin-bottom: 20px;
}

.resumo-grid-dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.resumo-item {
    background: #f8fafc;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;
}

.resumo-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.resumo-item span {
    font-size: 13px;
    color: #666;
}

.resumo-item strong {
    font-size: 22px;
    color: #2563eb;
    margin-top: 5px;
}

/* AÇÕES botoes e cards*/

.acoes {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.acoes input {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.acoes button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    background-color: #2563eb;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.25s ease;
    max-width: 150px;
}

.acoes button:hover {
    background-color: #073fdb;
}

.acoes-linha {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.08);
}

.card h2 {
    margin-bottom: 15px;
}

/* input de pesquisa*/

.busca{
    margin:20px 0;
}

.busca input{
    width:100%;
    max-width:350px;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:14px;
}


/* listas */

.tabela-link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: all 0.25s ease;
}

.tabela-link:hover {
    color: #2563eb;
}

.acoes-tabela {
    display: flex;
    gap: 16px;
    margin-left: -6px;
    margin-bottom: -1px;
}

.btn-editar {
    text-decoration: none;
    color: #2563eb;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 4px;
    transition: all 0.25s ease;
}

.btn-editar:hover {
    background-color: rgba(37, 99, 235, 0.08);
}


.btn-excluir {
    text-decoration: none;
    color: #dc2626;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 4px;
    transition: all 0.25s ease;
}

.btn-excluir:hover {
    background-color: rgba(220, 38, 38, 0.08);
}

.btn-devolver {
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-size: 16px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 4px;
    transition: all 0.25s ease;
}

.btn-devolver:hover {
background-color: rgba(100, 100, 100, 0.08);
}

/* cor local */

.local-Serra{
    color:#2e7d32;
}

.local-Santa_Catarina{
    color:#1565c0;
}

/* FORMULÁRIO */

form {
    max-width: 500px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    transition: all 0.25s ease;
}

.form-group input:focus {
    outline: none;
    border-color: #2563eb;
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    height: 90px;    
    resize: vertical;  
    max-height: 200px;  
    transition: border-color 0.25s ease;
}

.form-group textarea:focus {
    outline: none;
    border-color: #2563eb;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    background-color: white;
    transition: all 0.25s ease;
}

.form-group select:focus {
    outline: none;
    border-color: #2563eb;
}

.btn-submit {
    margin-top: 10px;
    padding: 10px 16px;
    border: none;
    background-color: #2563eb;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.btn-submit:hover {
    background-color: #1d4ed8;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid transparent;
    
}

.checkbox-group label:hover {
    background: #f5f7fa;
}

.checkbox-group label {
    background: #f8fafc;
    border: 1px solid #e5e7eb;
}

.checkbox-group input[type="checkbox"] {
    accent-color: #2563eb; /* azul padrão do teu sistema */
    cursor: pointer;
}

.checkbox-group label:has(input:checked) {
    background: rgba(37, 99, 235, 0.08);
    border-color: #2563eb;
}

/*viagens*/

.filtro-viagens {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 15px 0;
    flex-wrap: wrap;
}

.filtro-viagens input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.25s ease;
}

.filtro-viagens input:focus {
    outline: none;
    border-color: #2563eb;
}


.filtro-viagens button {
    padding: 8px 14px;
    border: none;
    background-color: #2563eb;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.filtro-viagens button:hover {
    background-color: #1d4ed8;
}

.btn-limpar {
    background-color: #e5e7eb;
    color: #333;
    margin-bottom: 15px;
}

.btn-limpar:hover {
    background-color: #d1d5db;
}

.select-filtro {
    padding: 8px 10px;           
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
    transition: all 0.25s ease;
    min-width: 150px;
}


.select-filtro:focus {
    outline: none;
    border-color: #2563eb;
}


.select-filtro option:checked {
    color: #2563eb;
}

.grid-viagens{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    gap: 30px;
}

.card-viagem{
    position:relative;
    background:white;
    padding:20px;
    border-radius:12px;
    cursor:pointer;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    transition:0.2s;
    position: relative;
    z-index:1;
}

.card-viagem.menu-aberto{
    z-index:999;
}
.card-viagem:hover{
    transform:translateY(-4px);
    box-shadow:0 6px 14px rgba(0,0,0,0.12);
}

.menu-card{
    position:absolute;
    top:10px;
    right:10px;
    font-size:20px;
    color:#666;
    cursor:pointer;
    padding:4px 6px;
    border-radius:6px;
    transition: all 0.2s ease;
}

.menu-card:hover{
    background:#f0f0f0;
}

.menu-opcoes{
    position:absolute;
    top:-34px;
    right:-100px;
    background:white;
    border:1px solid #ddd;
    border-radius:6px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    display:none;
    flex-direction:column;
    min-width:100px;

}

.menu-opcoes a{
    padding:8px 12px;
    text-decoration:none;
    font-size: 16px;
    font-weight: 500;
}

.menu-opcoes a:hover{
    background:#f5f5f5;
}

.nova-viagem{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-size:18px;
    color:#555;
}

.icone{
    font-size:40px;
    margin-bottom:10px;
}

/* status viagem select*/

.status-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.status-form select {
    padding: 5px 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.btn-status {
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    background: #2563eb;
    color: white;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.btn-status:hover {
    background: #1d4ed8;
}

/* grid da pag viagem detalhe */

.viagem-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
}

.removido {
    color: #a12d2d;
    font-weight: 600;
    font-style: italic;
}

.ordem-clientes {
    grid-column: 2;
    min-height: 300px;
    flex: 1;
}

.tarefas {
    grid-column: 1 / -1;
}

.resumo {
    grid-column: 1 / -1;
}

.viagem-main {
    display: flex;
    flex-direction: column;
}

.viagem-side {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ordem-clientes{
        max-height:315px;
    overflow-y:auto;
}

.observacoes,
.ordem-clientes {
    height: 150px;
    display: flex;
    flex-direction: column;
}

.observacoes p {
    white-space: pre-wrap;
    margin-top: 0;
}

.conteudo-scroll {
    min-height: 0;
    overflow-y: auto;
    padding-right: 5px;
    word-break: break-word;
    overflow-wrap: break-word;
    margin-top: 5px;
}

.conteudo-scroll p {
    margin: 0;
}

.conteudo-scroll {
    flex: 1;
}

/*pedidos*/

.pedido-ordem{
    font-weight:600;
    margin-right:8px;
    color:#666;
    width:30px;
}

.btn-ordem{
    text-decoration:none;
    font-weight:bold;
    padding:2px 6px;
    margin-right:4px;
    transition: all 0.5s ease;
}

.btn-ordem:hover {
    cursor: pointer;
    color: #073fdb;
}

.lista-pedidos{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.pedido-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 14px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:15px;
    transition: all 0.25s ease;
}

.pedido-item:hover{
    background:#f9f9f9;
}

.pedido-info{
    display:flex;
    align-items:center;
    gap:10px;
}

.pedido-cliente{
    font-weight:600;
    min-width:140px;
    width:150px;
}

.pedido-tipo{
    padding:3px 8px;
    border-radius:6px;
    font-size:13px;
    font-weight:500;
    margin-right: 25px;
    width:131px;
    text-align:center;
}


.tipo-PEDIDO{
    background:#e3f2fd;
    color:#1565c0;
}


.tipo-ACERTO{
    background:#fff3e0;
    color:#ef6c00;
}


.tipo-DEVOLUCAO{
    background:#f3e5f5;
    color:#7b1fa2;
}

.tipo-DEFEITO{
    background:#ffebee;
    color:#c62828;
}

.tipo-TROCA{
    background:#e8f5e9;
    color:#2e7d32;
}

.pedido-obs{

    color:#666;
    font-size:13px;
    white-space:nowrap;
    overflow:hidden;
    width:225px;
    text-overflow:ellipsis;

}

.pedido-loja{
    color:#666;
}

.pedido-acoes{
    display:flex;
    align-items:center;
    gap:8px;
}

.pedido-acoes button{
    padding:5px 8px;
    font-size:13px;
}


/* agrupamento tarefas */

.shopping-grupo{
    border:1px solid #ddd;
    border-radius:12px;
    padding:20px;
    margin-bottom:25px;
}

.shopping-grupo h3{
    
    font-size: 20px;
    font-weight: 600;
    margin-bottom:15px;
    border-bottom: 2px solid #e5e7eb;
    padding-bottom: 8px;
}

.loja-grupo{
    margin-left: 10px;
    margin-bottom:15px;
    display:flex;
    flex-direction:column;
    gap:8px;
    padding-left: 10px;
}

.loja-grupo h4{
    font-size: 16px;
    font-weight:600;
    margin-bottom:8px;
}

.grupo-acoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    
}

.link-titulo {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: all 0.25s ease;
}

.link-titulo:hover {
    color: #2563eb;
}

.shopping-grupo h3,
.loja-grupo h4 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pedido-item {
    margin-left: 40px;
}

.loja-grupo .pedido-item{
    margin-left:15px;
}

/* ordem clientes pagina viagem */

.form-add-cliente {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: nowrap;
}

.form-add-cliente select {
    max-width: 200px;
    flex-shrink: 0;
}

.form-add-cliente button {
    flex-shrink: 0;
    white-space: nowrap;
}

.cliente-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 6px;
    transition: all 0.2s ease;
}

.cliente-item:hover {
    background: #f9f9f9;
}

.cliente-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cliente-ordem {
    font-weight: 600;
    color: #666;
    width: 25px;
}

.cliente-nome {
    font-weight: 500;
}

.cliente-link {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cliente-acoes {
    display: flex;
    align-items: center;
    gap: 6px;
}


.cliente-endereco {
    color: #666;
    font-size: 13px;
    margin-left: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}


/*financeiro da viagem*/

.financeiro-form {
    gap: 10px;
    margin-top: 30px;
}

.financeiro-form select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.btn-add {
    padding: 10px;
    max-width: 40px;
    text-align: center;
    font-size: larger;
}

.financeiro-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 10px;
    transition: all 0.2s ease;
}

.financeiro-acoes{
    display:flex;
    align-items:center;
    gap:10px;
}

.financeiro-item:hover {
    background: #f9f9f9;
}

.financeiro-valor.custo {
    color: #dc2626;
    font-weight: 500;
    margin-left: 400px;
    min-width: 120px;
}

.financeiro-valor.ganho {
    color: #16a34a;
    font-weight: 500;
    margin-left: 400px;
    min-width: 120px;
}

.financeiro-total {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.financeiro-total p {
    margin: 4px 0;
}

.financeiro-desc{
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.acoes input:focus,
.acoes select:focus,
.status-form select:focus {
    outline: none;
    border-color: #2563eb;
    transition: all 0.25s ease;
}

.acoes input,
.acoes select,
.status-form select {
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

.btn-excluir {
    text-decoration: none;
    color: #dc2626;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 4px;
    transition: all 0.25s ease;
}

.btn-excluir:hover {
    background-color: rgba(220, 38, 38, 0.08);
}


button.btn-excluir {
    background: none;
    border: none;
    cursor: pointer;
}

/* resumo */

.linha-resumos{
    grid-column: 1 / -1;
    display:grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap:50px;
    width:100%;
}

.resumo-viagem{
    height:250px;
    display:flex;
    flex-direction:column;
}

.botoes-resumo{
    margin-top:auto;
    display:flex;
    flex-direction:row;
    gap:10px;
}

.resumo-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10px 20px;
    margin-top:10px;
    margin-bottom: 20px;
}

.resumo-grid p{
    background:#f8fafc;
    padding:10px;
    border-radius:6px;
    font-size:14px;
    display:flex;
    justify-content:space-between;
    transition: all 0.25s ease;
}

.resumo-grid strong{
    font-size:24px;
    font-weight:700;
    color:#2563eb;
    min-width:30px;
    text-align:right;
}

.resumo-grid p:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/*cheques*/

.btn-compensar{
    text-decoration: none;
    color: #2e7d32;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 4px;
    transition: all 0.25s ease;
}

.btn-compensar:hover{
background-color: rgba(46, 125, 50, 0.08);

}

.status-pendente {
    color: orange;
    font-weight: bold;
}

.status-ok {
    color: green;
    font-weight: bold;
}
.status-sustado{
    color: #dc2626;
    font-weight: bold;
}


/* financeiro  */

.fin-grafico-container {
    max-width: 1500px;
    height: 500px;
    margin: 0 auto;
}

.fin-resumo-financeiro {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.fin-resumo-item {
    flex: 1;
    text-align: center;
}

.fin-resumo-item h3 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #777;
}

.fin-resumo-item p {
    font-size: 22px;
    font-weight: bold;
}

.fin-grafico-container {
    margin-top: 20px;
}

.fin-filtros {
    margin-bottom: 10px;
}

.fin-positivo {
    color: #16a34a;
    font-weight: bold;
}

.fin-negativo {
    color: #dc2626;
    font-weight: bold;
}

.fin-resumo-item:nth-child(1) {
    border-left: 4px solid #16a34a;
}

.fin-resumo-item:nth-child(2) {
    border-left: 4px solid #f59e0b;
}

.fin-saldo {
    border-left: 4px solid #2563eb;
}


@media (max-width: 768px) {
/* DASHBOARD */
    /* GRID */
    .grid-agenda {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    /* TITULOS */
    .card h2 {
        font-size: 18px;
        text-align: center;
    }

    .titulo-agenda {
        font-size: 20px;
        text-align: center;
    }

    /* AGENDA */
    .agenda-header {
        justify-content: center;
        position: relative;
    }

    .btn-seta:first-child {
        left: 5px;
    }

    .btn-seta:last-child {
        right: 5px;
    }

    /* CALENDARIO */
    #calendario {
        gap: 5px;
    }

    .dia {
        padding: 8px;
        font-size: 13px;
    }

    /* VIAGENS */
    .item-viagem {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 4px;
    }

    .item-viagem strong {
        font-size: 16px;
    }

    .shopping-local {
        font-size: 14px;
    }

    .status {
        font-size: 13px;
    }

    /* BOTÕES */
    .acoes-linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    }

    .acoes button {
    flex: 1;
    min-width: 110px;
    max-width: 140px;
    padding: 8px;
    font-size: 13px;
    }
    
    /*VIAGENS*/

    .filtro-viagens {
        display: flex;
        justify-content: center;
    }

    .filtro-viagens form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        width: 100%;
        max-width: 400px;
    }  

    .filtro-viagens input {
        width: 100%;
    }

    .select-filtro {
        grid-column: span 1;
    }

    .filtro-viagens button {
        width: 100%;
    }

    .filtro-viagens input,
    .filtro-viagens select,
    .filtro-viagens button {
        font-size: 13px;
        padding: 8px;
    }

    .btn-limpar {
        grid-column: 1 / -1;
        margin-top: 5px;
        max-width: 200px;
        justify-self: center;
    }

    .grid-viagens {
        grid-template-columns: 1fr;
    }

    .menu-opcoes {
    position: absolute;
    top: 35px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    min-width: 120px;
    }

    .card-viagem {
    overflow: visible;
    }
}