/* AÇÕES */

.acoes {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.acoes input {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.acoes button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    background-color: #2563eb;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.25s ease;
    max-width: 150px;
}

.acoes button:hover {
    background-color: #073fdb;
}

.acoes-linha {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* CARDS */

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.08);
}

.card h2 {
    margin-bottom: 15px;
}

/* input de pesquisa*/

.busca{
    margin:20px 0;
}

.busca input{
    width:100%;
    max-width:350px;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:14px;
}


/* listas */

.tabela-link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: all 0.25s ease;
}

.tabela-link:hover {
    color: #2563eb;
}

.acoes-tabela {
    display: flex;
    gap: 16px;
    margin-left: -6px;
    margin-bottom: -1px;
}



.btn-editar {
    text-decoration: none;
    color: #2563eb;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 4px;
    transition: all 0.25s ease;
}

.btn-editar:hover {
    background-color: rgba(37, 99, 235, 0.08);
}


.btn-excluir {
    text-decoration: none;
    color: #dc2626;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 4px;
    transition: all 0.25s ease;
}

.btn-excluir:hover {
    background-color: rgba(220, 38, 38, 0.08);
}

.local-Serra{
    color:#2e7d32;
}

.local-Santa_Catarina{
    color:#1565c0;
}

/* FORMULÁRIO */

form {
    max-width: 500px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    transition: all 0.25s ease;
}

.form-group input:focus {
    outline: none;
    border-color: #2563eb;
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    height: 90px;    
    resize: vertical;  
    max-height: 200px;  
    transition: border-color 0.25s ease;
}

.form-group textarea:focus {
    outline: none;
    border-color: #2563eb;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    background-color: white;
    transition: all 0.25s ease;
}

.form-group select:focus {
    outline: none;
    border-color: #2563eb;
}

.btn-submit {
    margin-top: 10px;
    padding: 10px 16px;
    border: none;
    background-color: #2563eb;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.btn-submit:hover {
    background-color: #1d4ed8;
}

/*viagens*/



.grid-viagens{
    display:grid;
    grid-template-columns:repeat(auto-fill,250px);
    gap:30px;
}

.card-viagem{
    position:relative;
    background:white;
    padding:20px;
    border-radius:12px;
    cursor:pointer;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    transition:0.2s;
    position: relative;
    z-index:1;
}
.card-viagem.menu-aberto{
    z-index:999;
}
.card-viagem:hover{
    transform:translateY(-4px);
    box-shadow:0 6px 14px rgba(0,0,0,0.12);
}

.menu-card{
    position:absolute;
    top:10px;
    right:10px;
    font-size:20px;
    color:#666;
    cursor:pointer;
    padding:4px 6px;
    border-radius:6px;
    transition:all 0.2s ease;
}

.menu-card:hover{
    background:#f0f0f0;
}

.menu-opcoes{
    position:absolute;
    top:-34px;
    right:-100px;
    background:white;
    border:1px solid #ddd;
    border-radius:6px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    display:none;
    flex-direction:column;
    min-width:100px;

}

.menu-opcoes a{
    padding:8px 12px;
    text-decoration:none;
    font-size: 16px;
    font-weight: 500;
}

.menu-opcoes a:hover{
    background:#f5f5f5;
}

.nova-viagem{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-size:18px;
    color:#555;
}

.icone{
    font-size:40px;
    margin-bottom:10px;
}

.status-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.status-form select {
    padding: 5px 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.btn-status {
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    background: #2563eb;
    color: white;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.btn-status:hover {
    background: #1d4ed8;
}

.viagem-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
}

.ordem-clientes {
    grid-column: 2;
    min-height: 300px;
    flex: 1;
}

.tarefas {
    grid-column: 1 / -1;
}

.resumo {
    grid-column: 1 / -1;
}

.viagem-main {
    display: flex;
    flex-direction: column;
}

.viagem-side {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.observacoes,
.ordem-clientes {
    height: 150px;
    display: flex;
    flex-direction: column;
}

.observacoes p {
    white-space: pre-wrap;
    margin-top: 0;
}

.conteudo-scroll {
    min-height: 0;
    overflow-y: auto;
    padding-right: 5px;
    word-break: break-word;
    overflow-wrap: break-word;
    margin-top: 5px;
}

.conteudo-scroll p {
    margin: 0;
}

.conteudo-scroll {
    flex: 1;
}

/*pedidos*/

.pedido-ordem{
    font-weight:600;
    margin-right:8px;
    color:#666;
    width:30px;
}

.btn-ordem{
    text-decoration:none;
    font-weight:bold;
    padding:2px 6px;
    margin-right:4px;
    transition: all 0.5s ease;
}

.btn-ordem:hover {
    cursor: pointer;
    color: #073fdb;
}

.lista-pedidos{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.pedido-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 14px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:15px;
    transition: all 0.25s ease;
}

.pedido-item:hover{
    background:#f9f9f9;
}

.pedido-info{
    display:flex;
    align-items:center;
    gap:10px;
}

.pedido-cliente{
    font-weight:600;
    min-width:140px;
    width:150px;
}

.pedido-tipo{
    padding:3px 8px;
    border-radius:6px;
    font-size:13px;
    font-weight:500;
    margin-right: 100px;
    width:131px;
    text-align:center;
}


.tipo-PEDIDO{
    background:#e3f2fd;
    color:#1565c0;
}


.tipo-ACERTO{
    background:#fff3e0;
    color:#ef6c00;
}


.tipo-ACERTO_PEDIDO{
    background:#f3e5f5;
    color:#7b1fa2;
}

.pedido-obs{

    color:#666;
    font-size:13px;
    white-space:nowrap;
    overflow:hidden;
    width:550px;
    text-overflow:ellipsis;

}

.pedido-loja{
    color:#666;
}

.pedido-acoes{
    display:flex;
    align-items:center;
    gap:8px;
}

.pedido-acoes button{
    padding:5px 8px;
    font-size:13px;
}


/* agrupamento tarefas */

.shopping-grupo{
    border:1px solid #ddd;
    border-radius:12px;
    padding:20px;
    margin-bottom:25px;
}

.shopping-grupo h3{
    margin-bottom:15px;
}

.loja-grupo{
    margin-left:15px;
    margin-bottom:15px;
    display:flex;
    flex-direction:column;
    gap:8px;
}

.loja-grupo h4{
    font-weight:600;
    margin-bottom:8px;
}

.loja-grupo .pedido-item{
    margin-left:15px;
}

/* ordem clientes pagina viagem */

.cliente-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 6px;
    transition: all 0.2s ease;
}

.cliente-item:hover {
    background: #f9f9f9;
}

.cliente-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cliente-ordem {
    font-weight: 600;
    color: #666;
    width: 25px;
}

.cliente-nome {
    font-weight: 500;
}

.cliente-acoes {
    display: flex;
    align-items: center;
    gap: 6px;
}

.cliente-endereco {
    color: #666;
    font-size: 13px;
    margin-left: 50px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 250px;
}

/*financeiro*/

.financeiro-form {
    gap: 10px;
    margin-top: 30px;
}

.financeiro-form select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.btn-add {
    padding: 10px;
    max-width: 40px;
    text-align: center;
    font-size: larger;
}

.financeiro-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 10px;
    transition: all 0.2s ease;
}

.financeiro-acoes{
    display:flex;
    align-items:center;
    gap:10px;
}

.financeiro-item:hover {
    background: #f9f9f9;
}

.financeiro-valor.custo {
    color: #dc2626;
    font-weight: 500;
    margin-left: 400px;
    min-width: 120px;
}

.financeiro-valor.ganho {
    color: #16a34a;
    font-weight: 500;
    margin-left: 400px;
    min-width: 120px;
}

.financeiro-total {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.financeiro-total p {
    margin: 4px 0;
}

.financeiro-desc{
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.acoes input:focus,
.acoes select:focus,
.status-form select:focus {
    outline: none;
    border-color: #2563eb;
    transition: all 0.25s ease;
}

.acoes input,
.acoes select,
.status-form select {
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

.btn-excluir {
    text-decoration: none;
    color: #dc2626;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 4px;
    transition: all 0.25s ease;
}

.btn-excluir:hover {
    background-color: rgba(220, 38, 38, 0.08);
}


button.btn-excluir {
    background: none;
    border: none;
    cursor: pointer;
}