<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Sistema da mãe</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">

    
</head>

<body>

<div class="container">

    <aside class="sidebar">

        <div class="logo-container">
            <a href="/" class="logo">Sistema p/mãe</a>
        </div>

        <nav>
            <ul>
                <li><a href="/" class="menu-item {% if request.path == '/' %}ativo{% endif %}">Menu</a></li>
                <li><a href="{{ url_for('clientes.listar_clientes') }}" class="menu-item {% if '/clientes' in request.path %}ativo{% endif %}">Clientes</a></li>
                <li><a href="{{ url_for('shopping.listar_shopping') }}" class="menu-item {% if '/shopping' in request.path %}ativo{% endif %}">Shoppings</a></li>
                <li><a href="{{ url_for('lojas.listar_lojas') }}" class="menu-item {% if '/lojas' in request.path %}ativo{% endif %}">Lojas</a></li>
                <li><a href="{{ url_for('viagens.listar_viagens') }}" class="menu-item {% if '/viagens' in request.path %}ativo{% endif %}">Viagens</a></li>
                <li><a href="{{ url_for('cheques.listar_cheques') }}" class="menu-item {% if '/cheques' in request.path %}ativo{% endif %}">Cheques</a></li>
                <li><a href="{{ url_for('financeiro.pagina_financeiro') }}" class="menu-item {% if '/financeiro' in request.path %}ativo{% endif %}">Financeiro</a></li>
            </ul>
        </nav>

    </aside>

    <main class="content">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alerts">
                {% for category, message in messages %}
                    <div class="alert {{ category }}">
                    {{ message }}
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </main>

</div>
    <script src="{{ url_for('static', filename='js/alert.js') }}"></script>
    <script src="{{ url_for('static', filename='js/protecao_submit.js') }}"></script>
</body>
</html>