{% extends "base.html" %}

{% block content %}

<h1>{{ cliente.nome }}</h1>

<section class="card">

<h2>Informações</h2>

<p><strong>CPF/CNPJ:</strong> {{ cliente.cpf_cnpj or "Não informado" }}</p>
<p><strong>Endereço:</strong> {{ cliente.endereco or "Não informado" }}</p>
<p><strong>Telefone:</strong> {{ cliente.telefone or "Não informado" }}</p>


</section>

<section class="card">

<h2>Observações</h2>

<p>{{ cliente.observacoes or "Nenhuma observação cadastrada." }}</p>

</section>

<section class="card">

<h2 style="margin-bottom: 25px;">Viagens anteriores</h2>

</section>

<section class="acoes" style="flex-direction: row;">

    <button data-url="{{ request.args.get('next', '/clientes') }}"
    onclick="window.location.href=this.dataset.url" style="max-width: 75px;">
        Voltar
    </button>

    <button onclick="window.location.href='/clientes/{{ cliente.id }}/editar?next={{ request.path }}'">
        Editar
    </button>
</section>

{% endblock %}