{% extends "base.html" %}

{% block content %}

<h1>Clientes</h1>

<section class="acoes">

    <button onclick="window.location.href='/clientes/novo'">
        + Novo cliente
    </button>

    <input type="text" id="campo-busca" placeholder="Buscar..." onkeyup="filtrarTabela()" >

</section>



<section class="card">

    <table id="tabela-lista">

        <tr class="thead-hover">
            <th >Nome</th>
            <th>CPF/CNPJ</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Ações</th>
            
        {% for cliente in clientes %}

        <tr class="linha-clicavel">
            <td>
                <a href="/clientes/{{ cliente.id }}" class="tabela-link">
                    {{ cliente.nome }}
                </a></td>
            <td>{{ cliente.cpf_cnpj or "—" }}</td>
            <td>{{ cliente.telefone or "—" }}</td>
            <td>{{ cliente.endereco or "—" }}</td>

            <td class="acoes-tabela">

                <a href="/clientes/{{ cliente.id }}/editar" class="btn-editar">
                Editar
                </a>

                <a href="/clientes/{{ cliente.id }}/excluir"
                class="btn-excluir" data-confirm="Deseja excluir este cliente?">
                Excluir
                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

</section>

<script src="{{ url_for('static', filename='js/busca.js') }}"></script>

{% endblock %}