{% extends "base.html" %}

{% block content %}

<h1>Clientes</h1>

<section class="acoes">

    <button onclick="window.location.href='/clientes/novo'">
        + Novo cliente
    </button>

    <input type="text" id="campo-busca" placeholder="Buscar..." onkeyup="filtrarTabela()" >

</section>



<section class="card">

    <table id="tabela-lista">

        <tr>
            <th >Nome</th>
            <th>CPF/CNPJ</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Ações</th>
            
        {% for cliente in clientes %}

        <tr>
            <td>
                <a href="/clientes/{{ cliente.id }}" class="tabela-link">
                    {{ cliente.nome }}
                </a></td>
            <td>{{ cliente.cpf_cnpj }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.email }}</td>

            <td class="acoes-tabela">

                <a href="#" class="btn-editar">Editar</a>
                <a href="#" class="btn-excluir">Excluir</a>

            </td>

        </tr>

        {% endfor %}

    </table>

</section>

<script src="{{ url_for('static', filename='js/busca.js') }}"></script>

{% endblock %}