{% extends "base.html" %}

{% block content %}

<h1>Menu</h1>

<section class="acoes acoes-linha">
    <button onclick="window.location.href='/viagens/nova?next={{ request.path }}'">Registrar viagem</button>
    <button onclick="window.location.href='/cheques/novo?next={{ request.path }}'">Registrar cheque</button>
    <button onclick="window.location.href='/clientes/novo?next={{ request.path }}'">Cadastrar cliente</button>
</section>

<div class="grid-agenda">
<section class="card">
    <div class="agenda-header">
        <a class="btn-seta" onclick="mesAnterior()">←</a>

        <div class="agenda-titulo">
            <h2 class="titulo-agenda">Agenda de Viagens</h2>
            <span id="mes-ano"></span>
        </div>

        <a class="btn-seta" onclick="proximoMes()">→</a>
    </div>

    <div id="calendario"></div>
</section>

    <section class="card">
        <h2>Próximas viagens</h2> 
        <div class="scroll-pequeno">
            <div class="lista-viagens">
                {% for v in proximas_viagens %}
                    <div class="item-viagem"
                        onclick="window.location.href='/viagens/{{ v.id }}?next={{ request.path }}'">
                        
                        <div>
                            <strong>{{ v.data_viagem.strftime('%d/%m') }}</strong>
                            —<span class="shopping-local local-{{ v.local.replace(" ", "_") }}"> {{ v.local or "Sem local" }}</span>
                        </div>

                        <span class="status status-{{ v.status|replace(' ', '-') }}">
                            {{ v.status }}
                        </span>

                    </div>
                {% else %}
                    <p style="color:#777;">Nenhuma viagem futura.</p>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

<section class="card">

    <h2><a href="/cheques" class="titulo-link">
        Cheques pendentes
    </a></h2>

        <table class="tabela-dashboard">

        <tr class="thead-hover">
            <th>Código</th>
            <th>Destino</th>
            <th>Vencimento</th>
            <th>Valor</th>
        </tr>

        {% for c in cheques_pendentes %}
        <tr class="linha-clicavel">

            <td>
                    {{ c.codigo }}
            </td>

            <td>{{ c.nome_destino }}</td>

            <td>
                {% if c.data_vencimento and c.data_vencimento < hoje %}
                    <span style="color:red; font-weight:600; font-style:italic;">
                        {{ c.data_vencimento.strftime('%d/%m/%Y') }}
                    </span>
                {% else %}
                    {{ c.data_vencimento.strftime('%d/%m/%Y') if c.data_vencimento else "—" }}
                {% endif %}
            </td>

            <td>R$ {{ c.valor }}</td>

        </tr>
        {% else %}
        <tr>
            <td colspan="3" style="color:#777;">Nenhum cheque pendente.</td>
        </tr>
        {% endfor %}

        </table>

</section>

<!--
    <section class="card resumo-dashboard">

        <h2>Resumo geral</h2>

        <div class="resumo-grid-dashboard">

            <div class="resumo-item">
                <span>Clientes</span>
                <strong>{{ total_clientes }}</strong>
            </div>

            <div class="resumo-item">
                <span>Viagens futuras</span>
                <strong>{{ total_viagens }}</strong>
            </div>

            <div class="resumo-item">
                <span>Shoppings</span>
                <strong>{{ total_shoppings }}</strong>
            </div>

            <div class="resumo-item">
                <span>Lojas</span>
                <strong>{{ total_lojas }}</strong>
            </div>

            <div class="resumo-item">
                <span>Cheques pendentes</span>
                <strong>{{ total_cheques_pendentes }}</strong>
            </div>

            <div class="resumo-item">
                <span>Saldo</span>
                <strong>R$ {{ saldo_total }}</strong>
            </div>

        </div>

    </section>
-->
<script id="datas-viagens" type="application/json">
    {{ datas_viagens | tojson }}
</script>

<script src="{{ url_for('static', filename='js/agenda.js') }}"></script>

{% endblock %}