{% extends "base.html" %}

{% block content %}

<h1>{{ loja.nome }}</h1>

<section class="card">

    <h2>Informações</h2>

    <p><strong>Shopping:</strong> {{ loja.shopping_nome or "Sem shopping" }}</p>
    <p><strong>Contato:</strong> {{ loja.contato or "Não informado" }}</p>

</section>

<section class="card">

    <h2>Observações</h2>

    <p>{{ loja.observacoes or "Nenhuma observação cadastrada." }}</p>

</section>


<section class="acoes" style="flex-direction: row;">

    <button data-url="{{ request.args.get('next', '/lojas') }}"
    onclick="window.location.href=this.dataset.url" style="max-width: 75px;">
        Voltar
    </button>

    <button onclick="window.location.href='/lojas/{{ loja.id }}/editar?next={{ request.path }}'">
        Editar
    </button>

</section>

{% endblock %}