{% extends "base.html" %}

{% block content %}

<h1>{{ "Editar viagem" if viagem else "Nova viagem" }}</h1>

<section class="acoes">

    <button data-url="{{ request.args.get('next', '/viagens') }}"
            onclick="window.location.href=this.dataset.url">
        ← Voltar
    </button>

</section>


<section class="card">

<form method="POST">

    <div class="form-group">
        <label>Local</label>

            <select name="local" required>

            <option value="">Selecione o local</option>

            <option value="Serra"
            {% if viagem and viagem.local == "Serra" %}selected{% endif %}>
            Serra
            </option>

            <option value="Santa Catarina"
            {% if viagem and viagem.local == "Santa Catarina" %}selected{% endif %}>
            Santa Catarina
            </option>

            </select>

    </div>

    <div class="form-group">
        <label>Data da viagem</label>
        <input type="date" name="data_viagem" required value="{{ viagem.data_viagem if viagem }}">
    </div>

    <div class="form-group">
        <label>Observações</label>
        <textarea name="observacoes" rows="4" maxlength="500">{{ viagem.observacoes if viagem }}</textarea>
    </div>

    <button type="submit" class="btn-submit">
        {{ "Criar viagem" if not viagem else "Atualizar viagem" }}
    </button>

</form>

</section>

{% endblock %}