{% extends "base.html" %}

{% block content %}

<h1>{{ "Editar loja" if loja else "Nova loja" }}</h1>

<section class="acoes">

    <button 
    data-url="{{ request.args.get('next', '/lojas') }}"
    onclick="window.location.href=this.dataset.url">
    ← Voltar
    </button>

</section>


<section class="card">

<form method="POST">

<div class="form-group">
    <label>Número / Nome da loja</label>
    <input type="text" name="nome" required placeholder="Nome da loja..." value="{{ loja.nome if loja }}">
</div>




<div class="form-group">
    <label>Shopping</label>

    <select name="shopping_id" {% if shopping_preselecionado %}disabled{% endif %} required>

    <option value="">Selecione um shopping</option>

    {% for shopping in shoppings %}

    <option value="{{ shopping.id }}" 
    {% if loja and loja.shopping_id == shopping.id %}
    selected
    {% elif shopping_preselecionado and shopping_preselecionado|int == shopping.id %}
    selected
    {% endif %}
    >
        {{ shopping.nome }}
    </option>

    {% endfor %}

    </select>

    {% if shopping_preselecionado %}
    <input type="hidden" name="shopping_id" value="{{ shopping_preselecionado }}">
    {% endif %}

</div>

    <div class="form-group">
        <label>Telefone</label>
        <input type="text" name="contato" placeholder="(00) 00000-0000" maxlength="15" value="{{ loja.contato if loja }}" id="telefone">
    </div>

<div class="form-group">
    <label>Observações</label>
    <textarea name="observacoes" rows="4">{{ loja.observacoes if loja }}</textarea>
</div>

<button type="submit" class="btn-submit">
    {{ "Salvar loja" if not loja else "Atualizar loja" }}
</button>

</form>


</section>

<script src="{{ url_for('static', filename='js/formatar_numero.js') }}"></script>

{% endblock %}