{% extends "base.html" %}

{% block content %}

<h1>Novo shopping</h1>

<section class="acoes">


<button onclick="window.location.href='/shopping'">
    ← Voltar
</button>


</section>

<section class="card">

<form method="POST">


<div class="form-group">
    <label>Nome do shopping</label>
    <input type="text" name="nome" required maxlength="120" value="{{ shopping.nome if shopping else '' }}">
</div>

<div class="form-group">
    <label>Cidade</label>
    <input type="text" name="cidade" maxlength="100" value="{{ shopping.cidade if shopping else '' }}">
</div>

<div class="form-group">
    <label>Endereço</label>
    <input type="text" name="endereco" maxlength="200" value="{{ shopping.endereco if shopping else '' }}">
</div>

<div class="form-group">
    <label>Observações</label>
    <textarea name="observacoes" rows="4" maxlength="500">{{ shopping.observacoes if shopping else '' }}</textarea>
</div>

<button type="submit" class="btn-submit">
    {{ "Editar" if shopping else "Salvar" }}
</button>


</form>

</section>


{% endblock %}
