{% extends "base.html" %}

{% block content %}

<h1>{{ shopping.nome }}</h1>

<section class="card">

    <h2>Informações</h2>

    <p>
        <strong>Local:</strong>
        <span class="shopping-local local-{{ shopping.local.replace(" ", "_") }}">
            {{ shopping.local }}
        </span>
    </p>
    <p>
        <strong>Endereço:</strong> 
        {{ shopping.endereco  or "Não informado" }}
    </p>
    <p>
        <strong>Telefone:</strong> 
        {{ shopping.contato or "Não informado" }}
    </p>

</section>


<section class="card">

    <h2>Observações</h2>

    <p>{{ shopping.observacoes or "Nenhuma observação cadastrada." }}</p>

</section>


<section class="card">

    <h2 style="margin-bottom:25px;">Lojas deste shopping</h2>

    <table id="tabela-lista">

    <tr class="thead-hover">
        <th>Loja</th>
        <th>Shopping</th>
        <th>Telefone</th>
        <th>Observação</th>
        <th>Ações</th>
    </tr>

    {% if lojas %}

    {% for loja in lojas %}

    <tr class="linha-clicavel">

        <td>
            <a href="/lojas/{{ loja.id }}?next={{ request.path }}" class="tabela-link">
                {{ loja.nome }}
            </a>
        </td>

        <td>{{ shopping.nome }}</td>

        <td>{{ loja.contato or "—" }}</td>

        <td>{{ loja.observacoes or "—" }}</td>

        <td class="acoes-tabela">

            <a href="/lojas/{{ loja.id }}/editar?shopping={{ shopping.id }}&next={{ request.path }}" class="btn-editar">
                Editar
            </a>

            <a href="/lojas/{{ loja.id }}/excluir?shopping={{ shopping.id }}&next={{ request.path }}"
            class="btn-excluir"
            data-confirm="Deseja excluir esta loja?">
                Excluir
            </a>

        </td>

    </tr>

    {% endfor %}

    {% else %}

    <tr>
        <td colspan="5">
            Nenhuma loja cadastrada neste shopping.
        </td>
    </tr>

    {% endif %}

    </table>

</section>



<section class="acoes" style="flex-direction: row;">

    <button data-url="{{ request.args.get('next', '/shopping') }}"
    onclick="window.location.href=this.dataset.url" style="max-width: 75px;">
        Voltar
    </button>

    <button onclick="window.location.href='/shopping/{{ shopping.id }}/editar?next={{ request.path }}'">
        Editar
    </button>

    <button onclick="window.location.href='/lojas/novo?shopping={{ shopping.id }}&next={{ request.path }}'">
        Adicionar loja
    </button>

</section>

{% endblock %}