{% extends "base.html" %}

{% block content %}

<h1>Shoppings</h1>

<section class="acoes">


<button onclick="window.location.href='/shopping/novo'">
    + Novo shopping
</button>

    <input type="text" id="campo-busca" placeholder="Buscar..." onkeyup="filtrarTabela()" >

</section>

<section class="card">

<table id="tabela-lista">

    <tr>
        <th>Nome</th>
        <th>Cidade</th>
        <th>Endereço</th>
        <th>Lojas</th>
        <th>Clientes</th>
        <th>Ações</th>
    </tr>

{% for shopping in shoppings %}

<tr>
    <td>{{ shopping.nome }}</td>
    <td>{{ shopping.cidade }}</td>
    <td>{{ shopping.endereco }}</td>
    <td>0</td>
    <td>0</td>

    <td class="acoes-tabela">

        <a href="#" class="btn-editar">Editar</a>
        <a href="#" class="btn-excluir">Excluir</a>
        <a href="#" class="btn-verlojas">Ver Lojas</a>

    </td>

</tr>

{% endfor %}

</table>


</section>

<script src="{{ url_for('static', filename='js/busca.js') }}"></script>

{% endblock %}
