{% extends "base.html" %}

{% block content %}

<h1>Shoppings</h1>

<section class="acoes">


    <button onclick="window.location.href='/shopping/novo'">
        + Novo shopping
    </button>

    <input type="text" id="campo-busca" placeholder="Buscar..." onkeyup="filtrarTabela()" >

</section>

<section class="card">

    <table id="tabela-lista">

        <tr class="thead-hover">
            <th>Nome</th>
            <th>Local</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Ações</th>
        </tr>

    {% for shopping in shoppings %}

    <tr class="linha-clicavel">

        <td>
            <a href="/shopping/{{ shopping.id }}" class="tabela-link">
                {{ shopping.nome }}
            </a>
        </td>

        <td>
            <span class="shopping-local local-{{ shopping.local.replace(" ", "_") }}">
            {{ shopping.local }}
            </span>
        </td>

        <td>{{ shopping.contato or "—" }}</td>

        <td>{{ shopping.endereco or "—"  }}</td>

        <td class="acoes-tabela">

            <a href="/shopping/{{ shopping.id }}/editar" class="btn-editar">
                Editar
            </a>

            <a href="/shopping/{{ shopping.id }}/excluir" class="btn-excluir" data-confirm="Deseja excluir este shopping?">
                Excluir
            </a>

        </td>

    </tr>

    {% endfor %}

    </table>

</section>

<script src="{{ url_for('static', filename='js/busca.js') }}"></script>

{% endblock %}
