{% extends "base.html" %}

{% block content %}

<h1>Viagens</h1>

<section class="grid-viagens">


    <div class="card-viagem nova-viagem" onclick="window.location.href='/viagens/nova'">

        <div class="icone">
            +
        </div>

        <p>Nova viagem</p>

    </div>


    {% for viagem in viagens %}

    <div class="card-viagem"
        onclick="window.location.href='/viagens/{{ viagem.id }}'">

        <div class="menu-card" onclick="event.stopPropagation()">
        ⋮
            <div class="menu-opcoes">

                <a href="/viagens/{{ viagem.id }}/editar" class="btn-editar">
                    Editar
                </a>

                <a href="/viagens/{{ viagem.id }}/excluir"
                class="btn-excluir"
                onclick="return confirm('Deseja excluir esta viagem?')">
                    Excluir
                </a>

            </div>
        </div>


        <h3>{{ viagem.data_viagem.strftime('%d/%m/%Y') }}</h3>

        <p>
            <span class="shopping-local local-{{ viagem.local.replace(" ", "_") }}"><strong>{{ viagem.local }}</strong></span>
        </p>

        <p>Status: {{ viagem.status }}</p>

    </div>

{% endfor %}

</section>

<script src="{{ url_for('static', filename='js/card.js') }}"></script>


{% endblock %}